<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
    <div style="text-align:center";>
      <h1>請上傳圖片</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile" type="image">
        <button type="submit">Upload</button>
      </form>

      {% if result %}
        <p>The result is :
          <br>
          {% for line in result %}
          <br>
          {{ line }}
          {% endfor %}
        </p>
      {% endif %}

      {% if uploaded_file_url %}
        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
      {% endif %}

    </div>
  </body>
</html>
